{% include 'sitio/cabecera.html' %}

<div class="p-5 bg-light">
    <div class="container text-center">
        <h1 class="display-3">¡Bienvenidos!</h1>
        <h2 class="display-4">E-Lit Haven</h2>
        <p>¡E-Lit Haven, tu librería en línea de confianza!</p>
        <hr class="my-4">
        
        <!-- Imagen centrada de tamaño mediano -->
        <img src="https://img.freepik.com/vector-gratis/e-learning-smartphone-isometrico_1284-22565.jpg" class="img-fluid mx-auto d-block mb-4" style="max-width: 50%; height: auto;" alt="Imagen de bienvenida">

        <p class="lead">
            <a class="btn btn-success btn-lg" href="/libros">Ver catálogo de libros</a>
        </p>
    </div>
</div>

{% include 'sitio/pie.html' %}



