{% include 'sitio/cabecera.html' %}

<div class="card">
    
    <div class="card-body">
        <h4 class="card-title">Nosotros</h4>
        <p>Somos un equipo apasionado por la literatura clásica y la difusión del conocimiento. Nuestra misión es proporcionar acceso gratuito a una amplia selección de obras literarias que han pasado al dominio público.</p>
        <p>Nuestra Misión:</p>
        <p>En un mundo donde el acceso a la educación y la cultura es fundamental, creemos que cada persona debería tener la oportunidad de explorar obras literarias clásicas sin barreras financieras. Nos esforzamos por ser una fuente confiable y accesible de libros de dominio público para lectores de todas las edades y antecedentes.</p>
        <p>Lo que Ofrecemos:</p>
        <p>mplia colección de libros clásicos de dominio público, que abarca diferentes géneros y períodos históricos.
            Recursos educativos y artículos sobre la importancia de la literatura clásica y el dominio público.
            Herramientas de búsqueda y navegación intuitivas para ayudarte a encontrar fácilmente los libros que te interesan.
            Una plataforma fácil de usar, diseñada pensando en la comodidad y la accesibilidad del usuario.</p> 
        <p>Nuestro Compromiso:</p>
            <p>Estamos comprometidos a mantener altos estándares de calidad y precisión en nuestra selección de libros. Trabajamos diligentemente para garantizar que nuestras obras estén en cumplimiento con las leyes de derechos de autor y que cumplan con los criterios de dominio público.
            </p>
        </p>
    </div>

    <img class="card-img-top" src="https://images.pexels.com/photos/1329571/pexels-photo-1329571.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
</div>


{% include 'sitio/pie.html' %}